.fas{
  background:white;
  box-shadow:-3px 4px 2px 0 rgba(0, 0, 0, 0.5);
  color:black;
  font-family:FontAwesome, sans-serif;
  font-style:initial;
  height:35px;
  padding:0.25rem 0.5rem;
  position:absolute;
  right:0;
  top:0;
  width:35px;
}
.fas:last-of-type{
  right:35px;
}
.fas:hover{
  color:blue;
  font-weight:900;
  text-decoration:none;
}